<h1> <%= @Player1_Name %> vs. <%= @Player2_Name %> </h1> <br>
<%= @Player1_Name %> <%= @Player1_HP %> HP <br>
<%= @Player2_Name %> <%= @Player2_HP %> HP <br>

<form action='/attack'>
  <input type='submit' value='Attack'>
</form>
