<h1> <%= @player1_name %> vs. <%= @player2_name %> </h1> <br>
<%= @player1_name %> <%= @player1_hp %> HP <br>
<%= @player2_name %> <%= @player2_hp %> HP <br>

<form action='/attack'>
  <input type='submit' value='Attack'>
</form>
